<!DOCTYPE html>
<html lang="zh">
<head>
    <:include file="../../common/css.html" title="回到顶部"/>
    <link rel="stylesheet" href="/assets/css/other/console1.css"/>
</head>
<body class="pear-container">
    <div>
        <div class="layui-row layui-col-space10">

            <div class="layui-card">
                <div class="layui-card-header">动态</div>
                <div class="layui-card-body">
                    <dl class="layuiadmin-card-status">
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>七彩枫叶 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 回答问题</p>
                                <span>几秒前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>简 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>2天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>恒宇少年 将 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin </a> 更新至 2.3.0
                                    版本</p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>如花 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>就眠仪式 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>贤心 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>七彩枫叶 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 回答问题</p>
                                <span>几秒前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>简 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>2天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>恒宇少年 将 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin </a> 更新至 2.3.0
                                    版本</p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>如花 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>就眠仪式 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>贤心 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>七彩枫叶 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 回答问题</p>
                                <span>几秒前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>简 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>2天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>恒宇少年 将 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin </a> 更新至 2.3.0
                                    版本</p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>如花 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>就眠仪式 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>贤心 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>七彩枫叶 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 回答问题</p>
                                <span>几秒前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>简 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>2天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>恒宇少年 将 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin </a> 更新至 2.3.0
                                    版本</p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>如花 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>就眠仪式 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>次等水货 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>七彩枫叶 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 回答问题</p>
                                <span>几秒前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>简 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>2天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>恒宇少年 将 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin </a> 更新至 2.3.0
                                    版本</p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>如花 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>7天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>就眠仪式 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 社区</a> 发布了 <a
                                    lay-href="http://fly.layui.com/column/suggest/">建议</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                        <dd>
                            <div class="layui-status-img"><a href="javascript:;"><img
                                style="width: 32px;height: 32px;border-radius: 50px;"
                                src="/assets/images/avatar.jpg"></a></div>
                            <div>
                                <p>微笑刺客 在 <a lay-href="https://gitee.com/Jmysy/Pear-Admin-Layui">Pear Admin 专区</a> 进行了 <a
                                    lay-href="http://fly.layui.com/vipclub/list/layuiadmin/column/quiz/">提问</a></p>
                                <span>8天前</span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- 依 赖 脚 本 -->
    <:include file="../../common/js.html"/>
    <script>
        layui.use(['layer', 'element', 'topBar'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                element = layui.element;

        });
    </script>
</body>
</html>
