<!DOCTYPE html>
<html lang="zh">
<head>
    <:include file="../../common/css.html" title="新增用户"/>
</head>
<body>
    <form class="layui-form" action="">
        <div class="mainBox">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" id="account" lay-verify="required" autocomplete="off" placeholder="请输入账号"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" autocomplete="off" placeholder="请输入密码"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入用户名"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email"  autocomplete="off" placeholder="请输入邮箱"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="mobile" autocomplete="off" placeholder="请输入电话"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="0" title="未知" checked>
                        <input type="radio" name="sex" value="1" title="男">
                        <input type="radio" name="sex" value="2" title="女">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-block">
                        <input type="text" name="birthday" class="layui-input" id="birthday" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <select name="role" xm-select="role">
                            <option value=""></option>
                            <:for items="${roleList}" var="role">
                            <option value="${role.id}">${role.name}(${role.code})</option>
                            </:for>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                        lay-filter="user-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>

    <!-- 依 赖 脚 本 -->
    <:include file="../../common/js.html" />
    <script>
        layui.use(['form', 'jquery', 'laydate', 'select'], function() {
            let form = layui.form;
            let $ = layui.jquery;
            let laydate = layui.laydate;
            let select = layui.select;

            let MODULE_PATH = "/system/user";

            /****************************************** 组件渲染区 *****************************************************/
            // 渲染时间选择组件
            laydate.render({
                elem: '#birthday'
            });

            /****************************************** 事件监听区 *****************************************************/
            /** 账号输入框失去焦点事件 */
            $('#account').blur(function () {
                let that = this;
                let value = $(this).val();
                let field = $(this).attr('name');
                if (!value) {  return; }

                // 验证字段是否存在
                window.existence(that, {field: field, value: value, id: null});
            });

            /** 表单提交事件监听 */
            form.on('submit(user-save)', function(data) {
                // 参数校验
                data.field.roleIds = select.value('role', 'val');

                // 表单提交
                window.submit(data);
                return false;
            });

            /****************************************** 功能方法区 *****************************************************/
            /**
             * 验证字段是否存在
             *
             * @param that
             * @param data "{field: 'name', value: 123, id: null}"
             */
            window.existence = function (that, data) {
                $.ajax({
                    url: MODULE_PATH + '/existence',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (rsp) {
                        if (rsp.data) {
                            layer.msg(rsp.message, { icon: 2, time: 1000 });
                            $(that).val("");
                        }
                    },
                    error: function (error) {
                        if (error.responseJSON) {
                            layer.msg(error.responseJSON.message, { icon: 2, time: 1000 });
                        }
                        $(that).val("");
                    }
                });
            }

            /** 表单提交 */
            window.submit = function (data) {
                let loadIndex = layer.load(2);
                $.ajax({
                    url: MODULE_PATH,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data.field),
                    success: function (rsp){
                        layer.close(loadIndex);
                        if (rsp.code !== 200) {
                            layer.msg(rsp.message, { icon: 2, time: 1000 });
                            return;
                        }

                        layer.msg(rsp.message, { icon: 1, time: 1000 }, function() {
                            // 关闭当前页
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("user-table");
                        });
                    },
                    error: function (error) {
                        layer.close(loadIndex);
                        if (error.responseJSON) {
                            layer.msg(error.responseJSON.message, { icon: 2, time: 1000 });
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
